.navbar{
    font-family: 'Trebuchet MS', sans-serif;
    position: fixed;
    width: 100%;
    background: rgb(101, 139, 108, 0.9);
    z-index: 99999999999999999999;
    left: 0rem;
    top: 0rem;
    height: 60px;
}

.navitem{
    float: left;
    color: #f2f2f2 !important;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none !important;
    border-bottom: 2px solid transparent;
    font-size: 14px;
    font-family: 'Trebuchet MS', sans-serif;
}

.navitem:hover{
    background-color: #333;
    height: 55px !important;
}


.settings{
    height:1rem;
}

.version-span{
    color: white;
    position: absolute;
    right: 1rem;
    bottom: 1.75rem;
    opacity: 0.5;
    z-index: 9999;
    border: 2px solid #333;
    border-radius: 25px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    background: #333;
}

.dropbtn {
    background-color: transparent;
    color:    #f2f2f2 !important;
    padding: 18px 20px;
    border: none;
    text-decoration: none !important;
    background: none;
    font-size: 14px;
    font-family: 'Trebuchet MS', sans-serif;
}

.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

.dropdown:hover > .dropdown-content {
  opacity: 1;
  transform: translateY(-2px);
  transition: opacity 0.5s, transform 0.5s;
}

.dropdown {
  display: inline-block;
  position: fixed;
  padding: 40px 20px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(101, 139, 108,  0.6);
  padding: 18px 20px;
}

.dropdown:hover .dropdown-content {
  display: inline-block;
}
.dropdown-content {
    visibility: hidden;

    border-radius: 9px;
    text-decoration: none !important;
    background-color: rgba(159, 155, 155, 0.9);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 14px;
    font-family: 'Trebuchet MS', sans-serif;
    border: 1px solid #ccc;
    max-height: 15vh;
    overflow:scroll;
    position: fixed;
}

.dropdown-content a {
    color: rgb(101, 139, 108);
    padding: 12px 16px;
    text-decoration: none;
    background-color: transparent;
    display: block;
}

.dropbtn:hover{
    background-color: rgba(221, 221, 221, 0.233);
    background: rgba(221, 221, 221, 0.233);
}

.dropdown a:hover {background-color: rgba(221, 221, 221, 0.233);}

iframe{
    height: 0rem;
}
